{% extends 'base.html' %}

{% load static %}

{% block title %}С чего начать?{% endblock %}

{% block content %}

<!-- Page content-->
<div class="container">
    <div class="text-center mt-5">
        <h1>Что нужно знать перед тем, как начать психотерапию</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <p style="text-align: justify;">
                Подбор психотерапевта — это сложный процесс, который иногда может затянуться. Совершенно типичны ситуации, 
                когда люди меняют несколько специалистов до того, как найдут идеальный для себя вариант. Связь, которая 
                выстраивается между клиентом и психотерапевтом, называют «терапевтическим альянсом». 
                Создание такого "альянса" во многом влияет на успешность лечения, потому что только при полном доверии 
                люди бывают готовы раскрыть свои проблемы и начать принимать помощь.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <img style="width: -webkit-fill-available; margin-bottom: 10px;" src="{% static 'pingvi_app/img/how_to_start.jpg'%}">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="text-center mt-2">
        <h3 style="margin-bottom: 15px;">Какие существуют подходы в психотерапии?</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <p style="text-align: justify;">
                В психотерапии существует огромное количество различных техник и практик, которые подбираются под каждого клиента 
                с учётом всех особенностей. Рассмотреть все методы в одной статье не получится: их слишком много, они часто объединяются, 
                перерастая в новые течения. Но есть список общепринятых подходов, которыми пользуются по всему миру уже долгие годы.
                Подход — это оптика, через которую вы будете смотреть на себя. Выбирайте те подходы, которые считаете подходящими себе.
            </p>
        </div>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    <strong>Психоаналитическая терапия</strong>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="text-align: justify;">
                    <p>
                        Этот метод строится на интерпретации слов и поведения клиента — терапевт составляет свое мнение и план дальнейшей 
                        помощи, отталкиваясь от того, как вы будете вести себя на приёме. Естественно, немаловажен и прошлый опыт клиента. 
                        Нередко оказывается, что проблемы, которые волнуют взрослых людей, обратившихся к специалисту, появились в раннем 
                        детстве. По сути, это самая стереотипная «разговорная терапия», которую мы так часто видим в медиа, когда психотерапевт 
                        в основном только слушает клиента, делая заметки и, возможно, изредка направляя ход его мыслей.
                    </p>
                    <p>
                        Психоанализ — это долгий процесс, требующий нескольких встреч со специалистом в неделю, но он может помочь, если вы 
                        совсем запутались и сами не можете понять, в чём именно заключается ваша проблема.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <strong>Когнитивно-поведенческая терапия</strong>
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="text-align: justify;">
                    <p>
                        Когнитивно-поведенческая терапия (КПТ) тоже очень распространена. В КПТ специалист не только будет много говорить о 
                        ваших чувствах, объясняя, почему и как с вами происходят определённые события, но и заставит поработать вас тоже. Этот 
                        вид терапии включает в себя широкий спектр действий: ведение дневника, домашние задания, ролевые игры. Иногда терапевты 
                        вместе с клиентами выходят в город, чтобы уже на месте помочь преодолеть страхи и проблемы — такая техника называется поведенческим экспериментом.
                    </p>
                    <p>
                        Специалисты КПТ помогают людям осознать, что несмотря на отсутствие у них способности контролировать окружающий мир, они могут 
                        контролировать своё к нему отношение.
                    </p>
                    <p>
                        Когнитивно-поведенческая терапия используется в таких случаях, как: депрессия, зависимости, фобии, расстройства личности, проблемы 
                        с гневом и даже расстройства пищевого поведения. Это очень распространённый метод, который может пугать тем, что требует активного 
                        включения в работу самого клиента, но у этого есть и позитивные стороны: пройдя через КПТ, люди набираются нужных знаний и опыта, 
                        которые помогут им контролировать себя в будущем без постоянного обращения к специалистам.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    <strong>Гештальт-терапия</strong>
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="text-align: justify;">
                    <p>
                        Гештальт-терапия, которая нацелена на работу с текущей жизнью человека и проблемами, которые его волнуют в настоящий момент, не погружаясь в прошлый опыт.
                    </p>
                    <p>
                        Этот вид терапии для кого-то может показаться слишком радикальным — он включает в себя техники, нацеленные на вызов очень сильных эмоций, к чему не все бывают 
                        готовы. Например, популярная в последнее время в TikTok техника «Пустой стул» заключается в том, чтобы поставить напротив себя пустой стул и представить, что на 
                        нём сидит человек, с которым у вас остались незакрытые вопросы. В процессе этого разговора часто удается прийти к темам, которые вас на самом деле волнует, но не 
                        были на поверхности. Рамок в этом упражнении практически нет, а человеком «на стуле» может оказаться кем угодно, неважно, есть ли он в вашей жизни сейчас или нет.
                    </p>
                    <p>
                        «Пустой стул» — одна из немногих практик, которые используются в рамках гештальт-терапии. И все они, в отличие от некоторых других методов, направлены на то, 
                        чтобы клиент смог лучше осознавать себя в этом мире. Специалист не предложит вам поменяться, его работа будет направлена на то, чтобы вам стало лучше и приятнее жить с собой настоящим.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p style="text-align: justify;">
                
            </p>
        </div>
    </div>
</div>

{% endblock %}